@import url('../fonts/Lobster.css');
@import url('../fonts/Sansita_Swashed.css');
html,
body {
  margin: 0;
  padding: 0;
  background-color: #333;
  cursor: url('../img/cur_default_32.png'), default;
  font-family: 'Sansita Swashed', cursive;
  color: white;
  user-select: none;
}
a,
input,
area,
button,
select,
textarea {
  cursor: url('../img/cur_pointer_32.png'), pointer;
}
header {
  position: relative;
  width: 100%;
  height: 6em;
  border-bottom: 2px solid grey;
  box-shadow: 0px 3px 10px 0px grey;
}
header .spec {
  display: flex;
  position: absolute;
  right: 1em;
  top: 0;
  height: 100%;
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
}
header .proj-link {
  height: 100%;
  width: 35em;
}
header .proj-link span {
  display: flex;
  height: 100%;
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
}
header .proj-link a {
  margin-left: 0.5em;
  color: green;
  transition: 0.25s all ease;
}
header .proj-link a:hover {
  color: lightgreen;
}
.page {
  display: grid;
  width: calc(100% - 1em);
  height: calc(100% - 7.5em - 2px);
  margin: 1em 0.5em 0.5em;
  grid-template-areas: "nav demo conf";
  grid-auto-columns: 16em 1fr 32em;
  gap: 1em;
}
.left_panel {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.left_panel .algo_nav {
  display: flex;
  flex-direction: column;
  grid-area: nav;
}
.left_panel .algo_nav a {
  position: relative;
  display: flex;
  height: 2.75em;
  background: #4d4d4d;
  border: 1px solid gray;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5em;
  text-decoration: none;
  user-select: none;
}
.left_panel .algo_nav a img {
  position: absolute;
  display: none;
  height: 50%;
  right: 0;
  transform: scale(0.8, 1) translate(15%, 0%);
}
.left_panel .algo_nav a[active] img {
  display: block;
}
.left_panel .ask {
  width: 100%;
  bottom: 0;
}
.demo {
  height: 100%;
  grid-area: demo;
}
.demo canvas {
  width: 100%;
  max-height: calc(100vh - 7.5em);
  min-width: 25.5em;
  aspect-ratio: 1;
}
.config_box {
  height: calc(100% - 2px);
  border: 1px solid grey;
  overflow-y: hidden;
  grid-area: conf;
}
.config_box .nya {
  display: flex;
  width: calc(100% - 1em);
  height: 8em;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0.5em 0;
  border-bottom: 2px solid grey;
}
.config_box .nya span {
  font-family: 'Lobster', cursive;
  font-size: 5em;
}
.config_box .nya img {
  width: 70%;
  height: 8em;
  float: right;
}
.config_box block {
  width: 100%;
  padding: 0;
  margin: 0;
}
.config_box .inputs {
  height: calc(100% - 8.5em - 2px - 0.75em * 2);
  margin: 0.75em;
  margin-right: 0.25em;
  padding-right: 0.5em;
  overflow-y: auto;
}
.config_box .inputs::-webkit-scrollbar {
  width: 1em;
}
.config_box .inputs::-webkit-scrollbar-button {
  display: none;
}
.config_box .inputs::-webkit-scrollbar-track,
.config_box .inputs::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px #0007;
  border-radius: 0.5em;
}
.config_box .inputs img {
  width: 100%;
}
.config_box .inputs div {
  display: flex;
  gap: 0.25em;
  font-size: 1.25em;
  padding: 0.25em;
  margin-bottom: 0.5em;
  border: 1px dashed grey;
}
.config_box .inputs div * {
  width: 100%;
}
.config_box .inputs div div {
  box-sizing: border-box;
  margin-bottom: 0;
  font-size: 1em;
}
.config_box .inputs div .pad1em {
  height: 1em;
}
.config_box .inputs div .pad05em {
  height: 0.5em;
}
.config_box .inputs div .pad025em {
  height: 0.25em;
}
.config_box .inputs div .pad0125em {
  height: 0.125em;
}
.config_box .inputs div.col-IndianRed,
.config_box .inputs div .col-IndianRed {
  color: IndianRed;
}
.config_box .inputs div.col-IndianRed:after,
.config_box .inputs div .col-IndianRed:after {
  color: IndianRed;
}
.config_box .inputs div.col-LightCoral,
.config_box .inputs div .col-LightCoral {
  color: LightCoral;
}
.config_box .inputs div.col-LightCoral:after,
.config_box .inputs div .col-LightCoral:after {
  color: LightCoral;
}
.config_box .inputs div.col-Salmon,
.config_box .inputs div .col-Salmon {
  color: Salmon;
}
.config_box .inputs div.col-Salmon:after,
.config_box .inputs div .col-Salmon:after {
  color: Salmon;
}
.config_box .inputs div.col-DarkSalmon,
.config_box .inputs div .col-DarkSalmon {
  color: DarkSalmon;
}
.config_box .inputs div.col-DarkSalmon:after,
.config_box .inputs div .col-DarkSalmon:after {
  color: DarkSalmon;
}
.config_box .inputs div.col-LightSalmon,
.config_box .inputs div .col-LightSalmon {
  color: LightSalmon;
}
.config_box .inputs div.col-LightSalmon:after,
.config_box .inputs div .col-LightSalmon:after {
  color: LightSalmon;
}
.config_box .inputs div.col-Crimson,
.config_box .inputs div .col-Crimson {
  color: Crimson;
}
.config_box .inputs div.col-Crimson:after,
.config_box .inputs div .col-Crimson:after {
  color: Crimson;
}
.config_box .inputs div.col-Red,
.config_box .inputs div .col-Red {
  color: Red;
}
.config_box .inputs div.col-Red:after,
.config_box .inputs div .col-Red:after {
  color: Red;
}
.config_box .inputs div.col-FireBrick,
.config_box .inputs div .col-FireBrick {
  color: FireBrick;
}
.config_box .inputs div.col-FireBrick:after,
.config_box .inputs div .col-FireBrick:after {
  color: FireBrick;
}
.config_box .inputs div.col-DarkRed,
.config_box .inputs div .col-DarkRed {
  color: DarkRed;
}
.config_box .inputs div.col-DarkRed:after,
.config_box .inputs div .col-DarkRed:after {
  color: DarkRed;
}
.config_box .inputs div.col-Name,
.config_box .inputs div .col-Name {
  color: Name;
}
.config_box .inputs div.col-Name:after,
.config_box .inputs div .col-Name:after {
  color: Name;
}
.config_box .inputs div.col-Pink,
.config_box .inputs div .col-Pink {
  color: Pink;
}
.config_box .inputs div.col-Pink:after,
.config_box .inputs div .col-Pink:after {
  color: Pink;
}
.config_box .inputs div.col-LightPink,
.config_box .inputs div .col-LightPink {
  color: LightPink;
}
.config_box .inputs div.col-LightPink:after,
.config_box .inputs div .col-LightPink:after {
  color: LightPink;
}
.config_box .inputs div.col-HotPink,
.config_box .inputs div .col-HotPink {
  color: HotPink;
}
.config_box .inputs div.col-HotPink:after,
.config_box .inputs div .col-HotPink:after {
  color: HotPink;
}
.config_box .inputs div.col-DeepPink,
.config_box .inputs div .col-DeepPink {
  color: DeepPink;
}
.config_box .inputs div.col-DeepPink:after,
.config_box .inputs div .col-DeepPink:after {
  color: DeepPink;
}
.config_box .inputs div.col-MediumVioletRed,
.config_box .inputs div .col-MediumVioletRed {
  color: MediumVioletRed;
}
.config_box .inputs div.col-MediumVioletRed:after,
.config_box .inputs div .col-MediumVioletRed:after {
  color: MediumVioletRed;
}
.config_box .inputs div.col-PaleVioletRed,
.config_box .inputs div .col-PaleVioletRed {
  color: PaleVioletRed;
}
.config_box .inputs div.col-PaleVioletRed:after,
.config_box .inputs div .col-PaleVioletRed:after {
  color: PaleVioletRed;
}
.config_box .inputs div.col-Name,
.config_box .inputs div .col-Name {
  color: Name;
}
.config_box .inputs div.col-Name:after,
.config_box .inputs div .col-Name:after {
  color: Name;
}
.config_box .inputs div.col-LightSalmon,
.config_box .inputs div .col-LightSalmon {
  color: LightSalmon;
}
.config_box .inputs div.col-LightSalmon:after,
.config_box .inputs div .col-LightSalmon:after {
  color: LightSalmon;
}
.config_box .inputs div.col-Coral,
.config_box .inputs div .col-Coral {
  color: Coral;
}
.config_box .inputs div.col-Coral:after,
.config_box .inputs div .col-Coral:after {
  color: Coral;
}
.config_box .inputs div.col-Tomato,
.config_box .inputs div .col-Tomato {
  color: Tomato;
}
.config_box .inputs div.col-Tomato:after,
.config_box .inputs div .col-Tomato:after {
  color: Tomato;
}
.config_box .inputs div.col-OrangeRed,
.config_box .inputs div .col-OrangeRed {
  color: OrangeRed;
}
.config_box .inputs div.col-OrangeRed:after,
.config_box .inputs div .col-OrangeRed:after {
  color: OrangeRed;
}
.config_box .inputs div.col-DarkOrange,
.config_box .inputs div .col-DarkOrange {
  color: DarkOrange;
}
.config_box .inputs div.col-DarkOrange:after,
.config_box .inputs div .col-DarkOrange:after {
  color: DarkOrange;
}
.config_box .inputs div.col-Orange,
.config_box .inputs div .col-Orange {
  color: Orange;
}
.config_box .inputs div.col-Orange:after,
.config_box .inputs div .col-Orange:after {
  color: Orange;
}
.config_box .inputs div.col-Name,
.config_box .inputs div .col-Name {
  color: Name;
}
.config_box .inputs div.col-Name:after,
.config_box .inputs div .col-Name:after {
  color: Name;
}
.config_box .inputs div.col-Gold,
.config_box .inputs div .col-Gold {
  color: Gold;
}
.config_box .inputs div.col-Gold:after,
.config_box .inputs div .col-Gold:after {
  color: Gold;
}
.config_box .inputs div.col-Yellow,
.config_box .inputs div .col-Yellow {
  color: Yellow;
}
.config_box .inputs div.col-Yellow:after,
.config_box .inputs div .col-Yellow:after {
  color: Yellow;
}
.config_box .inputs div.col-LightYellow,
.config_box .inputs div .col-LightYellow {
  color: LightYellow;
}
.config_box .inputs div.col-LightYellow:after,
.config_box .inputs div .col-LightYellow:after {
  color: LightYellow;
}
.config_box .inputs div.col-LemonChiffon,
.config_box .inputs div .col-LemonChiffon {
  color: LemonChiffon;
}
.config_box .inputs div.col-LemonChiffon:after,
.config_box .inputs div .col-LemonChiffon:after {
  color: LemonChiffon;
}
.config_box .inputs div.col-LightGoldenrodYellow,
.config_box .inputs div .col-LightGoldenrodYellow {
  color: LightGoldenrodYellow;
}
.config_box .inputs div.col-LightGoldenrodYellow:after,
.config_box .inputs div .col-LightGoldenrodYellow:after {
  color: LightGoldenrodYellow;
}
.config_box .inputs div.col-PapayaWhip,
.config_box .inputs div .col-PapayaWhip {
  color: PapayaWhip;
}
.config_box .inputs div.col-PapayaWhip:after,
.config_box .inputs div .col-PapayaWhip:after {
  color: PapayaWhip;
}
.config_box .inputs div.col-Moccasin,
.config_box .inputs div .col-Moccasin {
  color: Moccasin;
}
.config_box .inputs div.col-Moccasin:after,
.config_box .inputs div .col-Moccasin:after {
  color: Moccasin;
}
.config_box .inputs div.col-PeachPuff,
.config_box .inputs div .col-PeachPuff {
  color: PeachPuff;
}
.config_box .inputs div.col-PeachPuff:after,
.config_box .inputs div .col-PeachPuff:after {
  color: PeachPuff;
}
.config_box .inputs div.col-PaleGoldenrod,
.config_box .inputs div .col-PaleGoldenrod {
  color: PaleGoldenrod;
}
.config_box .inputs div.col-PaleGoldenrod:after,
.config_box .inputs div .col-PaleGoldenrod:after {
  color: PaleGoldenrod;
}
.config_box .inputs div.col-Khaki,
.config_box .inputs div .col-Khaki {
  color: Khaki;
}
.config_box .inputs div.col-Khaki:after,
.config_box .inputs div .col-Khaki:after {
  color: Khaki;
}
.config_box .inputs div.col-DarkKhaki,
.config_box .inputs div .col-DarkKhaki {
  color: DarkKhaki;
}
.config_box .inputs div.col-DarkKhaki:after,
.config_box .inputs div .col-DarkKhaki:after {
  color: DarkKhaki;
}
.config_box .inputs div.col-Name,
.config_box .inputs div .col-Name {
  color: Name;
}
.config_box .inputs div.col-Name:after,
.config_box .inputs div .col-Name:after {
  color: Name;
}
.config_box .inputs div.col-Lavender,
.config_box .inputs div .col-Lavender {
  color: Lavender;
}
.config_box .inputs div.col-Lavender:after,
.config_box .inputs div .col-Lavender:after {
  color: Lavender;
}
.config_box .inputs div.col-Thistle,
.config_box .inputs div .col-Thistle {
  color: Thistle;
}
.config_box .inputs div.col-Thistle:after,
.config_box .inputs div .col-Thistle:after {
  color: Thistle;
}
.config_box .inputs div.col-Plum,
.config_box .inputs div .col-Plum {
  color: Plum;
}
.config_box .inputs div.col-Plum:after,
.config_box .inputs div .col-Plum:after {
  color: Plum;
}
.config_box .inputs div.col-Violet,
.config_box .inputs div .col-Violet {
  color: Violet;
}
.config_box .inputs div.col-Violet:after,
.config_box .inputs div .col-Violet:after {
  color: Violet;
}
.config_box .inputs div.col-Orchid,
.config_box .inputs div .col-Orchid {
  color: Orchid;
}
.config_box .inputs div.col-Orchid:after,
.config_box .inputs div .col-Orchid:after {
  color: Orchid;
}
.config_box .inputs div.col-Fuchsia,
.config_box .inputs div .col-Fuchsia {
  color: Fuchsia;
}
.config_box .inputs div.col-Fuchsia:after,
.config_box .inputs div .col-Fuchsia:after {
  color: Fuchsia;
}
.config_box .inputs div.col-Magenta,
.config_box .inputs div .col-Magenta {
  color: Magenta;
}
.config_box .inputs div.col-Magenta:after,
.config_box .inputs div .col-Magenta:after {
  color: Magenta;
}
.config_box .inputs div.col-MediumOrchid,
.config_box .inputs div .col-MediumOrchid {
  color: MediumOrchid;
}
.config_box .inputs div.col-MediumOrchid:after,
.config_box .inputs div .col-MediumOrchid:after {
  color: MediumOrchid;
}
.config_box .inputs div.col-MediumPurple,
.config_box .inputs div .col-MediumPurple {
  color: MediumPurple;
}
.config_box .inputs div.col-MediumPurple:after,
.config_box .inputs div .col-MediumPurple:after {
  color: MediumPurple;
}
.config_box .inputs div.col-RebeccaPurple,
.config_box .inputs div .col-RebeccaPurple {
  color: RebeccaPurple;
}
.config_box .inputs div.col-RebeccaPurple:after,
.config_box .inputs div .col-RebeccaPurple:after {
  color: RebeccaPurple;
}
.config_box .inputs div.col-BlueViolet,
.config_box .inputs div .col-BlueViolet {
  color: BlueViolet;
}
.config_box .inputs div.col-BlueViolet:after,
.config_box .inputs div .col-BlueViolet:after {
  color: BlueViolet;
}
.config_box .inputs div.col-DarkViolet,
.config_box .inputs div .col-DarkViolet {
  color: DarkViolet;
}
.config_box .inputs div.col-DarkViolet:after,
.config_box .inputs div .col-DarkViolet:after {
  color: DarkViolet;
}
.config_box .inputs div.col-DarkOrchid,
.config_box .inputs div .col-DarkOrchid {
  color: DarkOrchid;
}
.config_box .inputs div.col-DarkOrchid:after,
.config_box .inputs div .col-DarkOrchid:after {
  color: DarkOrchid;
}
.config_box .inputs div.col-DarkMagenta,
.config_box .inputs div .col-DarkMagenta {
  color: DarkMagenta;
}
.config_box .inputs div.col-DarkMagenta:after,
.config_box .inputs div .col-DarkMagenta:after {
  color: DarkMagenta;
}
.config_box .inputs div.col-Purple,
.config_box .inputs div .col-Purple {
  color: Purple;
}
.config_box .inputs div.col-Purple:after,
.config_box .inputs div .col-Purple:after {
  color: Purple;
}
.config_box .inputs div.col-Indigo,
.config_box .inputs div .col-Indigo {
  color: Indigo;
}
.config_box .inputs div.col-Indigo:after,
.config_box .inputs div .col-Indigo:after {
  color: Indigo;
}
.config_box .inputs div.col-SlateBlue,
.config_box .inputs div .col-SlateBlue {
  color: SlateBlue;
}
.config_box .inputs div.col-SlateBlue:after,
.config_box .inputs div .col-SlateBlue:after {
  color: SlateBlue;
}
.config_box .inputs div.col-DarkSlateBlue,
.config_box .inputs div .col-DarkSlateBlue {
  color: DarkSlateBlue;
}
.config_box .inputs div.col-DarkSlateBlue:after,
.config_box .inputs div .col-DarkSlateBlue:after {
  color: DarkSlateBlue;
}
.config_box .inputs div.col-MediumSlateBlue,
.config_box .inputs div .col-MediumSlateBlue {
  color: MediumSlateBlue;
}
.config_box .inputs div.col-MediumSlateBlue:after,
.config_box .inputs div .col-MediumSlateBlue:after {
  color: MediumSlateBlue;
}
.config_box .inputs div.col-Name,
.config_box .inputs div .col-Name {
  color: Name;
}
.config_box .inputs div.col-Name:after,
.config_box .inputs div .col-Name:after {
  color: Name;
}
.config_box .inputs div.col-GreenYellow,
.config_box .inputs div .col-GreenYellow {
  color: GreenYellow;
}
.config_box .inputs div.col-GreenYellow:after,
.config_box .inputs div .col-GreenYellow:after {
  color: GreenYellow;
}
.config_box .inputs div.col-Chartreuse,
.config_box .inputs div .col-Chartreuse {
  color: Chartreuse;
}
.config_box .inputs div.col-Chartreuse:after,
.config_box .inputs div .col-Chartreuse:after {
  color: Chartreuse;
}
.config_box .inputs div.col-LawnGreen,
.config_box .inputs div .col-LawnGreen {
  color: LawnGreen;
}
.config_box .inputs div.col-LawnGreen:after,
.config_box .inputs div .col-LawnGreen:after {
  color: LawnGreen;
}
.config_box .inputs div.col-Lime,
.config_box .inputs div .col-Lime {
  color: Lime;
}
.config_box .inputs div.col-Lime:after,
.config_box .inputs div .col-Lime:after {
  color: Lime;
}
.config_box .inputs div.col-LimeGreen,
.config_box .inputs div .col-LimeGreen {
  color: LimeGreen;
}
.config_box .inputs div.col-LimeGreen:after,
.config_box .inputs div .col-LimeGreen:after {
  color: LimeGreen;
}
.config_box .inputs div.col-PaleGreen,
.config_box .inputs div .col-PaleGreen {
  color: PaleGreen;
}
.config_box .inputs div.col-PaleGreen:after,
.config_box .inputs div .col-PaleGreen:after {
  color: PaleGreen;
}
.config_box .inputs div.col-LightGreen,
.config_box .inputs div .col-LightGreen {
  color: LightGreen;
}
.config_box .inputs div.col-LightGreen:after,
.config_box .inputs div .col-LightGreen:after {
  color: LightGreen;
}
.config_box .inputs div.col-MediumSpringGreen,
.config_box .inputs div .col-MediumSpringGreen {
  color: MediumSpringGreen;
}
.config_box .inputs div.col-MediumSpringGreen:after,
.config_box .inputs div .col-MediumSpringGreen:after {
  color: MediumSpringGreen;
}
.config_box .inputs div.col-SpringGreen,
.config_box .inputs div .col-SpringGreen {
  color: SpringGreen;
}
.config_box .inputs div.col-SpringGreen:after,
.config_box .inputs div .col-SpringGreen:after {
  color: SpringGreen;
}
.config_box .inputs div.col-MediumSeaGreen,
.config_box .inputs div .col-MediumSeaGreen {
  color: MediumSeaGreen;
}
.config_box .inputs div.col-MediumSeaGreen:after,
.config_box .inputs div .col-MediumSeaGreen:after {
  color: MediumSeaGreen;
}
.config_box .inputs div.col-SeaGreen,
.config_box .inputs div .col-SeaGreen {
  color: SeaGreen;
}
.config_box .inputs div.col-SeaGreen:after,
.config_box .inputs div .col-SeaGreen:after {
  color: SeaGreen;
}
.config_box .inputs div.col-ForestGreen,
.config_box .inputs div .col-ForestGreen {
  color: ForestGreen;
}
.config_box .inputs div.col-ForestGreen:after,
.config_box .inputs div .col-ForestGreen:after {
  color: ForestGreen;
}
.config_box .inputs div.col-Green,
.config_box .inputs div .col-Green {
  color: Green;
}
.config_box .inputs div.col-Green:after,
.config_box .inputs div .col-Green:after {
  color: Green;
}
.config_box .inputs div.col-DarkGreen,
.config_box .inputs div .col-DarkGreen {
  color: DarkGreen;
}
.config_box .inputs div.col-DarkGreen:after,
.config_box .inputs div .col-DarkGreen:after {
  color: DarkGreen;
}
.config_box .inputs div.col-YellowGreen,
.config_box .inputs div .col-YellowGreen {
  color: YellowGreen;
}
.config_box .inputs div.col-YellowGreen:after,
.config_box .inputs div .col-YellowGreen:after {
  color: YellowGreen;
}
.config_box .inputs div.col-OliveDrab,
.config_box .inputs div .col-OliveDrab {
  color: OliveDrab;
}
.config_box .inputs div.col-OliveDrab:after,
.config_box .inputs div .col-OliveDrab:after {
  color: OliveDrab;
}
.config_box .inputs div.col-Olive,
.config_box .inputs div .col-Olive {
  color: Olive;
}
.config_box .inputs div.col-Olive:after,
.config_box .inputs div .col-Olive:after {
  color: Olive;
}
.config_box .inputs div.col-DarkOliveGreen,
.config_box .inputs div .col-DarkOliveGreen {
  color: DarkOliveGreen;
}
.config_box .inputs div.col-DarkOliveGreen:after,
.config_box .inputs div .col-DarkOliveGreen:after {
  color: DarkOliveGreen;
}
.config_box .inputs div.col-MediumAquamarine,
.config_box .inputs div .col-MediumAquamarine {
  color: MediumAquamarine;
}
.config_box .inputs div.col-MediumAquamarine:after,
.config_box .inputs div .col-MediumAquamarine:after {
  color: MediumAquamarine;
}
.config_box .inputs div.col-DarkSeaGreen,
.config_box .inputs div .col-DarkSeaGreen {
  color: DarkSeaGreen;
}
.config_box .inputs div.col-DarkSeaGreen:after,
.config_box .inputs div .col-DarkSeaGreen:after {
  color: DarkSeaGreen;
}
.config_box .inputs div.col-LightSeaGreen,
.config_box .inputs div .col-LightSeaGreen {
  color: LightSeaGreen;
}
.config_box .inputs div.col-LightSeaGreen:after,
.config_box .inputs div .col-LightSeaGreen:after {
  color: LightSeaGreen;
}
.config_box .inputs div.col-DarkCyan,
.config_box .inputs div .col-DarkCyan {
  color: DarkCyan;
}
.config_box .inputs div.col-DarkCyan:after,
.config_box .inputs div .col-DarkCyan:after {
  color: DarkCyan;
}
.config_box .inputs div.col-Teal,
.config_box .inputs div .col-Teal {
  color: Teal;
}
.config_box .inputs div.col-Teal:after,
.config_box .inputs div .col-Teal:after {
  color: Teal;
}
.config_box .inputs div.col-Name,
.config_box .inputs div .col-Name {
  color: Name;
}
.config_box .inputs div.col-Name:after,
.config_box .inputs div .col-Name:after {
  color: Name;
}
.config_box .inputs div.col-Aqua,
.config_box .inputs div .col-Aqua {
  color: Aqua;
}
.config_box .inputs div.col-Aqua:after,
.config_box .inputs div .col-Aqua:after {
  color: Aqua;
}
.config_box .inputs div.col-Cyan,
.config_box .inputs div .col-Cyan {
  color: Cyan;
}
.config_box .inputs div.col-Cyan:after,
.config_box .inputs div .col-Cyan:after {
  color: Cyan;
}
.config_box .inputs div.col-LightCyan,
.config_box .inputs div .col-LightCyan {
  color: LightCyan;
}
.config_box .inputs div.col-LightCyan:after,
.config_box .inputs div .col-LightCyan:after {
  color: LightCyan;
}
.config_box .inputs div.col-PaleTurquoise,
.config_box .inputs div .col-PaleTurquoise {
  color: PaleTurquoise;
}
.config_box .inputs div.col-PaleTurquoise:after,
.config_box .inputs div .col-PaleTurquoise:after {
  color: PaleTurquoise;
}
.config_box .inputs div.col-Aquamarine,
.config_box .inputs div .col-Aquamarine {
  color: Aquamarine;
}
.config_box .inputs div.col-Aquamarine:after,
.config_box .inputs div .col-Aquamarine:after {
  color: Aquamarine;
}
.config_box .inputs div.col-Turquoise,
.config_box .inputs div .col-Turquoise {
  color: Turquoise;
}
.config_box .inputs div.col-Turquoise:after,
.config_box .inputs div .col-Turquoise:after {
  color: Turquoise;
}
.config_box .inputs div.col-MediumTurquoise,
.config_box .inputs div .col-MediumTurquoise {
  color: MediumTurquoise;
}
.config_box .inputs div.col-MediumTurquoise:after,
.config_box .inputs div .col-MediumTurquoise:after {
  color: MediumTurquoise;
}
.config_box .inputs div.col-DarkTurquoise,
.config_box .inputs div .col-DarkTurquoise {
  color: DarkTurquoise;
}
.config_box .inputs div.col-DarkTurquoise:after,
.config_box .inputs div .col-DarkTurquoise:after {
  color: DarkTurquoise;
}
.config_box .inputs div.col-CadetBlue,
.config_box .inputs div .col-CadetBlue {
  color: CadetBlue;
}
.config_box .inputs div.col-CadetBlue:after,
.config_box .inputs div .col-CadetBlue:after {
  color: CadetBlue;
}
.config_box .inputs div.col-SteelBlue,
.config_box .inputs div .col-SteelBlue {
  color: SteelBlue;
}
.config_box .inputs div.col-SteelBlue:after,
.config_box .inputs div .col-SteelBlue:after {
  color: SteelBlue;
}
.config_box .inputs div.col-LightSteelBlue,
.config_box .inputs div .col-LightSteelBlue {
  color: LightSteelBlue;
}
.config_box .inputs div.col-LightSteelBlue:after,
.config_box .inputs div .col-LightSteelBlue:after {
  color: LightSteelBlue;
}
.config_box .inputs div.col-PowderBlue,
.config_box .inputs div .col-PowderBlue {
  color: PowderBlue;
}
.config_box .inputs div.col-PowderBlue:after,
.config_box .inputs div .col-PowderBlue:after {
  color: PowderBlue;
}
.config_box .inputs div.col-LightBlue,
.config_box .inputs div .col-LightBlue {
  color: LightBlue;
}
.config_box .inputs div.col-LightBlue:after,
.config_box .inputs div .col-LightBlue:after {
  color: LightBlue;
}
.config_box .inputs div.col-SkyBlue,
.config_box .inputs div .col-SkyBlue {
  color: SkyBlue;
}
.config_box .inputs div.col-SkyBlue:after,
.config_box .inputs div .col-SkyBlue:after {
  color: SkyBlue;
}
.config_box .inputs div.col-LightSkyBlue,
.config_box .inputs div .col-LightSkyBlue {
  color: LightSkyBlue;
}
.config_box .inputs div.col-LightSkyBlue:after,
.config_box .inputs div .col-LightSkyBlue:after {
  color: LightSkyBlue;
}
.config_box .inputs div.col-DeepSkyBlue,
.config_box .inputs div .col-DeepSkyBlue {
  color: DeepSkyBlue;
}
.config_box .inputs div.col-DeepSkyBlue:after,
.config_box .inputs div .col-DeepSkyBlue:after {
  color: DeepSkyBlue;
}
.config_box .inputs div.col-DodgerBlue,
.config_box .inputs div .col-DodgerBlue {
  color: DodgerBlue;
}
.config_box .inputs div.col-DodgerBlue:after,
.config_box .inputs div .col-DodgerBlue:after {
  color: DodgerBlue;
}
.config_box .inputs div.col-CornflowerBlue,
.config_box .inputs div .col-CornflowerBlue {
  color: CornflowerBlue;
}
.config_box .inputs div.col-CornflowerBlue:after,
.config_box .inputs div .col-CornflowerBlue:after {
  color: CornflowerBlue;
}
.config_box .inputs div.col-MediumSlateBlue,
.config_box .inputs div .col-MediumSlateBlue {
  color: MediumSlateBlue;
}
.config_box .inputs div.col-MediumSlateBlue:after,
.config_box .inputs div .col-MediumSlateBlue:after {
  color: MediumSlateBlue;
}
.config_box .inputs div.col-RoyalBlue,
.config_box .inputs div .col-RoyalBlue {
  color: RoyalBlue;
}
.config_box .inputs div.col-RoyalBlue:after,
.config_box .inputs div .col-RoyalBlue:after {
  color: RoyalBlue;
}
.config_box .inputs div.col-Blue,
.config_box .inputs div .col-Blue {
  color: Blue;
}
.config_box .inputs div.col-Blue:after,
.config_box .inputs div .col-Blue:after {
  color: Blue;
}
.config_box .inputs div.col-MediumBlue,
.config_box .inputs div .col-MediumBlue {
  color: MediumBlue;
}
.config_box .inputs div.col-MediumBlue:after,
.config_box .inputs div .col-MediumBlue:after {
  color: MediumBlue;
}
.config_box .inputs div.col-DarkBlue,
.config_box .inputs div .col-DarkBlue {
  color: DarkBlue;
}
.config_box .inputs div.col-DarkBlue:after,
.config_box .inputs div .col-DarkBlue:after {
  color: DarkBlue;
}
.config_box .inputs div.col-Navy,
.config_box .inputs div .col-Navy {
  color: Navy;
}
.config_box .inputs div.col-Navy:after,
.config_box .inputs div .col-Navy:after {
  color: Navy;
}
.config_box .inputs div.col-MidnightBlue,
.config_box .inputs div .col-MidnightBlue {
  color: MidnightBlue;
}
.config_box .inputs div.col-MidnightBlue:after,
.config_box .inputs div .col-MidnightBlue:after {
  color: MidnightBlue;
}
.config_box .inputs div.col-Name,
.config_box .inputs div .col-Name {
  color: Name;
}
.config_box .inputs div.col-Name:after,
.config_box .inputs div .col-Name:after {
  color: Name;
}
.config_box .inputs div.col-Cornsilk,
.config_box .inputs div .col-Cornsilk {
  color: Cornsilk;
}
.config_box .inputs div.col-Cornsilk:after,
.config_box .inputs div .col-Cornsilk:after {
  color: Cornsilk;
}
.config_box .inputs div.col-BlanchedAlmond,
.config_box .inputs div .col-BlanchedAlmond {
  color: BlanchedAlmond;
}
.config_box .inputs div.col-BlanchedAlmond:after,
.config_box .inputs div .col-BlanchedAlmond:after {
  color: BlanchedAlmond;
}
.config_box .inputs div.col-Bisque,
.config_box .inputs div .col-Bisque {
  color: Bisque;
}
.config_box .inputs div.col-Bisque:after,
.config_box .inputs div .col-Bisque:after {
  color: Bisque;
}
.config_box .inputs div.col-NavajoWhite,
.config_box .inputs div .col-NavajoWhite {
  color: NavajoWhite;
}
.config_box .inputs div.col-NavajoWhite:after,
.config_box .inputs div .col-NavajoWhite:after {
  color: NavajoWhite;
}
.config_box .inputs div.col-Wheat,
.config_box .inputs div .col-Wheat {
  color: Wheat;
}
.config_box .inputs div.col-Wheat:after,
.config_box .inputs div .col-Wheat:after {
  color: Wheat;
}
.config_box .inputs div.col-BurlyWood,
.config_box .inputs div .col-BurlyWood {
  color: BurlyWood;
}
.config_box .inputs div.col-BurlyWood:after,
.config_box .inputs div .col-BurlyWood:after {
  color: BurlyWood;
}
.config_box .inputs div.col-Tan,
.config_box .inputs div .col-Tan {
  color: Tan;
}
.config_box .inputs div.col-Tan:after,
.config_box .inputs div .col-Tan:after {
  color: Tan;
}
.config_box .inputs div.col-RosyBrown,
.config_box .inputs div .col-RosyBrown {
  color: RosyBrown;
}
.config_box .inputs div.col-RosyBrown:after,
.config_box .inputs div .col-RosyBrown:after {
  color: RosyBrown;
}
.config_box .inputs div.col-SandyBrown,
.config_box .inputs div .col-SandyBrown {
  color: SandyBrown;
}
.config_box .inputs div.col-SandyBrown:after,
.config_box .inputs div .col-SandyBrown:after {
  color: SandyBrown;
}
.config_box .inputs div.col-Goldenrod,
.config_box .inputs div .col-Goldenrod {
  color: Goldenrod;
}
.config_box .inputs div.col-Goldenrod:after,
.config_box .inputs div .col-Goldenrod:after {
  color: Goldenrod;
}
.config_box .inputs div.col-DarkGoldenrod,
.config_box .inputs div .col-DarkGoldenrod {
  color: DarkGoldenrod;
}
.config_box .inputs div.col-DarkGoldenrod:after,
.config_box .inputs div .col-DarkGoldenrod:after {
  color: DarkGoldenrod;
}
.config_box .inputs div.col-Peru,
.config_box .inputs div .col-Peru {
  color: Peru;
}
.config_box .inputs div.col-Peru:after,
.config_box .inputs div .col-Peru:after {
  color: Peru;
}
.config_box .inputs div.col-Chocolate,
.config_box .inputs div .col-Chocolate {
  color: Chocolate;
}
.config_box .inputs div.col-Chocolate:after,
.config_box .inputs div .col-Chocolate:after {
  color: Chocolate;
}
.config_box .inputs div.col-SaddleBrown,
.config_box .inputs div .col-SaddleBrown {
  color: SaddleBrown;
}
.config_box .inputs div.col-SaddleBrown:after,
.config_box .inputs div .col-SaddleBrown:after {
  color: SaddleBrown;
}
.config_box .inputs div.col-Sienna,
.config_box .inputs div .col-Sienna {
  color: Sienna;
}
.config_box .inputs div.col-Sienna:after,
.config_box .inputs div .col-Sienna:after {
  color: Sienna;
}
.config_box .inputs div.col-Brown,
.config_box .inputs div .col-Brown {
  color: Brown;
}
.config_box .inputs div.col-Brown:after,
.config_box .inputs div .col-Brown:after {
  color: Brown;
}
.config_box .inputs div.col-Maroon,
.config_box .inputs div .col-Maroon {
  color: Maroon;
}
.config_box .inputs div.col-Maroon:after,
.config_box .inputs div .col-Maroon:after {
  color: Maroon;
}
.config_box .inputs div.col-Name,
.config_box .inputs div .col-Name {
  color: Name;
}
.config_box .inputs div.col-Name:after,
.config_box .inputs div .col-Name:after {
  color: Name;
}
.config_box .inputs div.col-White,
.config_box .inputs div .col-White {
  color: White;
}
.config_box .inputs div.col-White:after,
.config_box .inputs div .col-White:after {
  color: White;
}
.config_box .inputs div.col-Snow,
.config_box .inputs div .col-Snow {
  color: Snow;
}
.config_box .inputs div.col-Snow:after,
.config_box .inputs div .col-Snow:after {
  color: Snow;
}
.config_box .inputs div.col-HoneyDew,
.config_box .inputs div .col-HoneyDew {
  color: HoneyDew;
}
.config_box .inputs div.col-HoneyDew:after,
.config_box .inputs div .col-HoneyDew:after {
  color: HoneyDew;
}
.config_box .inputs div.col-MintCream,
.config_box .inputs div .col-MintCream {
  color: MintCream;
}
.config_box .inputs div.col-MintCream:after,
.config_box .inputs div .col-MintCream:after {
  color: MintCream;
}
.config_box .inputs div.col-Azure,
.config_box .inputs div .col-Azure {
  color: Azure;
}
.config_box .inputs div.col-Azure:after,
.config_box .inputs div .col-Azure:after {
  color: Azure;
}
.config_box .inputs div.col-AliceBlue,
.config_box .inputs div .col-AliceBlue {
  color: AliceBlue;
}
.config_box .inputs div.col-AliceBlue:after,
.config_box .inputs div .col-AliceBlue:after {
  color: AliceBlue;
}
.config_box .inputs div.col-GhostWhite,
.config_box .inputs div .col-GhostWhite {
  color: GhostWhite;
}
.config_box .inputs div.col-GhostWhite:after,
.config_box .inputs div .col-GhostWhite:after {
  color: GhostWhite;
}
.config_box .inputs div.col-WhiteSmoke,
.config_box .inputs div .col-WhiteSmoke {
  color: WhiteSmoke;
}
.config_box .inputs div.col-WhiteSmoke:after,
.config_box .inputs div .col-WhiteSmoke:after {
  color: WhiteSmoke;
}
.config_box .inputs div.col-SeaShell,
.config_box .inputs div .col-SeaShell {
  color: SeaShell;
}
.config_box .inputs div.col-SeaShell:after,
.config_box .inputs div .col-SeaShell:after {
  color: SeaShell;
}
.config_box .inputs div.col-Beige,
.config_box .inputs div .col-Beige {
  color: Beige;
}
.config_box .inputs div.col-Beige:after,
.config_box .inputs div .col-Beige:after {
  color: Beige;
}
.config_box .inputs div.col-OldLace,
.config_box .inputs div .col-OldLace {
  color: OldLace;
}
.config_box .inputs div.col-OldLace:after,
.config_box .inputs div .col-OldLace:after {
  color: OldLace;
}
.config_box .inputs div.col-FloralWhite,
.config_box .inputs div .col-FloralWhite {
  color: FloralWhite;
}
.config_box .inputs div.col-FloralWhite:after,
.config_box .inputs div .col-FloralWhite:after {
  color: FloralWhite;
}
.config_box .inputs div.col-Ivory,
.config_box .inputs div .col-Ivory {
  color: Ivory;
}
.config_box .inputs div.col-Ivory:after,
.config_box .inputs div .col-Ivory:after {
  color: Ivory;
}
.config_box .inputs div.col-AntiqueWhite,
.config_box .inputs div .col-AntiqueWhite {
  color: AntiqueWhite;
}
.config_box .inputs div.col-AntiqueWhite:after,
.config_box .inputs div .col-AntiqueWhite:after {
  color: AntiqueWhite;
}
.config_box .inputs div.col-Linen,
.config_box .inputs div .col-Linen {
  color: Linen;
}
.config_box .inputs div.col-Linen:after,
.config_box .inputs div .col-Linen:after {
  color: Linen;
}
.config_box .inputs div.col-LavenderBlush,
.config_box .inputs div .col-LavenderBlush {
  color: LavenderBlush;
}
.config_box .inputs div.col-LavenderBlush:after,
.config_box .inputs div .col-LavenderBlush:after {
  color: LavenderBlush;
}
.config_box .inputs div.col-MistyRose,
.config_box .inputs div .col-MistyRose {
  color: MistyRose;
}
.config_box .inputs div.col-MistyRose:after,
.config_box .inputs div .col-MistyRose:after {
  color: MistyRose;
}
.config_box .inputs div.col-Name,
.config_box .inputs div .col-Name {
  color: Name;
}
.config_box .inputs div.col-Name:after,
.config_box .inputs div .col-Name:after {
  color: Name;
}
.config_box .inputs div.col-Gainsboro,
.config_box .inputs div .col-Gainsboro {
  color: Gainsboro;
}
.config_box .inputs div.col-Gainsboro:after,
.config_box .inputs div .col-Gainsboro:after {
  color: Gainsboro;
}
.config_box .inputs div.col-LightGray,
.config_box .inputs div .col-LightGray {
  color: LightGray;
}
.config_box .inputs div.col-LightGray:after,
.config_box .inputs div .col-LightGray:after {
  color: LightGray;
}
.config_box .inputs div.col-Silver,
.config_box .inputs div .col-Silver {
  color: Silver;
}
.config_box .inputs div.col-Silver:after,
.config_box .inputs div .col-Silver:after {
  color: Silver;
}
.config_box .inputs div.col-DarkGray,
.config_box .inputs div .col-DarkGray {
  color: DarkGray;
}
.config_box .inputs div.col-DarkGray:after,
.config_box .inputs div .col-DarkGray:after {
  color: DarkGray;
}
.config_box .inputs div.col-Gray,
.config_box .inputs div .col-Gray {
  color: Gray;
}
.config_box .inputs div.col-Gray:after,
.config_box .inputs div .col-Gray:after {
  color: Gray;
}
.config_box .inputs div.col-DimGray,
.config_box .inputs div .col-DimGray {
  color: DimGray;
}
.config_box .inputs div.col-DimGray:after,
.config_box .inputs div .col-DimGray:after {
  color: DimGray;
}
.config_box .inputs div.col-LightSlateGray,
.config_box .inputs div .col-LightSlateGray {
  color: LightSlateGray;
}
.config_box .inputs div.col-LightSlateGray:after,
.config_box .inputs div .col-LightSlateGray:after {
  color: LightSlateGray;
}
.config_box .inputs div.col-SlateGray,
.config_box .inputs div .col-SlateGray {
  color: SlateGray;
}
.config_box .inputs div.col-SlateGray:after,
.config_box .inputs div .col-SlateGray:after {
  color: SlateGray;
}
.config_box .inputs div.col-DarkSlateGray,
.config_box .inputs div .col-DarkSlateGray {
  color: DarkSlateGray;
}
.config_box .inputs div.col-DarkSlateGray:after,
.config_box .inputs div .col-DarkSlateGray:after {
  color: DarkSlateGray;
}
.config_box .inputs div.col-Black,
.config_box .inputs div .col-Black {
  color: Black;
}
.config_box .inputs div.col-Black:after,
.config_box .inputs div .col-Black:after {
  color: Black;
}
.config_box .inputs div .noWrapper {
  display: flex;
  border: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
}
.config_box .inputs div .vert,
.config_box .inputs div.vert {
  flex-direction: column;
}
.config_box .inputs div .horz,
.config_box .inputs div.horz {
  flex-direction: row;
}
.config_box .inputs div .string {
  height: 1.125em;
  font-size: 1.5em;
  line-height: 0.9em;
  text-align: center;
  margin: 0;
  padding: 0;
}
.config_box .inputs div span {
  margin-left: calc(0.25em / 1.25);
}
.config_box .inputs div span:empty {
  margin: 0;
}
.config_box .inputs div input[type=color] {
  -webkit-appearance: none;
  height: 3.3em;
  background: #4d4d4d;
  border: none;
  padding: 0;
}
.config_box .inputs div input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;
  -webkit-mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA3NSAzOCI+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj5AaW1wb3J0IHVybCgiLi4vZm9udHMvU2Fuc2l0YV9Td2FzaGVkLmNzcyIpOzwvc3R5bGU+PC9kZWZzPjx0ZXh0IHN0eWxlPSJmb250LXNpemU6IDMwcHg7IGZvbnQtZmFtaWx5OiAnU2Fuc2l0YSBTd2FzaGVkJywgY3Vyc2l2ZTsiPjx0c3BhbiB4PSIwIiB5PSIzMCI+Q29sb3I8L3RzcGFuPjwvdGV4dD48L3N2Zz4');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}
.config_box .inputs div input[type=color]::-webkit-color-swatch {
  border: none;
}
.config_box .inputs div input[type=color]:hover {
  background: #5c607d;
}
.config_box .inputs div input[type=color]:active {
  background: #434354;
}
.config_box .inputs div input[type=range] {
  width: calc(100% - 4px);
  overflow: hidden;
}
.config_box .inputs div input[type=range]::-webkit-slider-thumb,
.config_box .inputs div input[type=range]::-webkit-slider-runnable-track,
.config_box .inputs div input[type=range] {
  -webkit-appearance: none;
}
.config_box .inputs div input[type=range]::-webkit-slider-runnable-track {
  height: 1.5em;
  background: #4a4a4a;
  box-shadow: inset 0px 0px 0.25em 0em black;
}
.config_box .inputs div input[type=range]::-webkit-slider-thumb {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  background: #5c607d;
  border-radius: 15%;
  border: 2px solid grey;
}
.config_box .inputs div input[type=range]::-webkit-slider-thumb:active {
  background: #434354;
}
.config_box .inputs div label {
  cursor: url('../img/cur_default_32.png'), default;
}
.config_box .inputs div label.inline {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  cursor: url('../img/cur_pointer_32.png'), pointer;
}
.config_box .inputs div input[type=checkbox],
.config_box .inputs div input[type=radio] {
  height: 3.3em;
  margin: 0;
}
.config_box .inputs div button {
  height: 3.3em;
  padding: 0;
  border: none;
}
.config_box .inputs div input[type=radio]:after,
.config_box .inputs div button:after,
.config_box .inputs div input[type=checkbox]:after,
.config_box .inputs div input[type=file]:after {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #4d4d4d;
  font-size: 1.5em;
  font-family: 'Sansita Swashed', cursive;
  color: white;
  content: attr(value);
  transition: 0.15s ease all;
}
.config_box .inputs div input[type=radio]:hover:after,
.config_box .inputs div button:hover:after,
.config_box .inputs div input[type=checkbox]:hover:after,
.config_box .inputs div input[type=file]:hover:after {
  background: #5c607d;
}
.config_box .inputs div input[type=radio]:active:after,
.config_box .inputs div button:active:after,
.config_box .inputs div input[type=checkbox]:active:after,
.config_box .inputs div input[type=file]:active:after {
  background: #434354;
}
.config_box .inputs div input[type=radio]:checked:after,
.config_box .inputs div button:checked:after,
.config_box .inputs div input[type=checkbox]:checked:after,
.config_box .inputs div input[type=file]:checked:after {
  background: #434354;
}
.config_box .inputs div input[type=file] {
  height: 2.75rem;
  font-size: 0;
}
.config_box .inputs div input[type=file]::-webkit-file-upload-button {
  display: none;
}
.config_box .inputs div input[type=file]:after {
  font-size: 1.25rem;
}
.config_box .inputs div input[type=text],
.config_box .inputs div input[type=number] {
  height: 1.5em;
  font-size: 1.5em;
  padding: 0.25em;
  border: none;
  background: #4d4d4d;
  box-shadow: inset 0px 0px 0.25em 0em black;
  cursor: url('../img/cur_text_32.png'), text;
  text-align: center;
  color: white;
}
.config_box .inputs div input[type=text]:active,
.config_box .inputs div input[type=number]:active,
.config_box .inputs div input[type=text]:hover,
.config_box .inputs div input[type=number]:hover,
.config_box .inputs div input[type=text]:focus,
.config_box .inputs div input[type=number]:focus {
  outline: 0;
  outline-offset: 0;
}
.config_box .inputs div input[type=text]::-webkit-outer-spin-button,
.config_box .inputs div input[type=number]::-webkit-outer-spin-button,
.config_box .inputs div input[type=text]::-webkit-inner-spin-button,
.config_box .inputs div input[type=number]::-webkit-inner-spin-button {
  display: none;
}
.config_box .inputs div input[type=text]::-webkit-input-placeholder,
.config_box .inputs div input[type=number]::-webkit-input-placeholder {
  text-align: center;
}
.copy-tyan {
  position: absolute;
  display: none;
  width: 10em;
  top: 0;
  left: 0;
}
.copy-tyan img {
  width: 100%;
}
.copy-tyan span {
  position: relative;
  top: 5em;
  font-size: 2em;
  color: lightgreen;
}
