@import url('../fonts/Lobster.css');
@import url('../fonts/Sansita_Swashed.css');

html, body{
	margin: 0;
	padding: 0;
	
	background-color: #333;
	
	cursor: url('../img/cur_default_32.png'), default;
	
	font-family: 'Sansita Swashed', cursive;
	color: white;
	
	user-select: none;
}

a, input, area, button, select, textarea{
	cursor: url('../img/cur_pointer_32.png'), pointer;
}

header{
	position: relative;
	
	width: 100%;
	height: 6em;
	
	border-bottom: 2px solid grey;
	
	box-shadow: 0px 3px 10px 0px grey;
	
	.spec{
		display: flex;
		position: absolute;
		right: 1em;
		top: 0;
		
		height: 100%;
		font-size: 1.5em;
		
		justify-content: center;
		align-items: center;
	}
	
	.proj-link{
		height: 100%;
		width: 35em;
	}
	
	.proj-link span{
		display: flex;
		
		height: 100%;
		font-size: 1.5em;
		
		justify-content: center;
		align-items: center;
	}
	
	.proj-link a{
		margin-left: 0.5em;
		color: green;
		
		transition: 0.25s all ease;
	}
	
	.proj-link a:hover{
		color: lightgreen;
	}
}

.page{
	display: grid;
	
	width: calc(100% - 1em);
	height: calc(100% - 7.5em - 2px);
	
	margin: 1em 0.5em 0.5em;
	
	grid-template-areas: "nav demo conf";
	grid-auto-columns: 16em 1fr 32em;
	gap: 1em;
}

.left_panel{
	display: flex;
	
	justify-content: space-between;
	flex-direction: column;
	
	width: 100%;
	height: 100%;
	
	overflow: hidden;
	
	.algo_nav{
		display: flex;
		
		flex-direction: column;
		
		// overflow-y: scroll;
		
		grid-area: nav;
		
		a{
			position: relative;
			display: flex;
			
			height: 2.75em;
			
			background: #4d4d4d;
			border: 1px solid gray;
			
			justify-content: center;
			align-items: center;
			
			color: white;
			font-size: 1.5em;
			
			text-decoration: none;
			user-select: none;
			
			img{
				position: absolute;
				display:none;
				
				height: 50%;
				right: 0;
				
				transform: scale(0.8, 1) translate(15%, 0%);
			}
			
			&[active] img{
				display: block;
			}
		}
	}
	
	.ask{
		width: 100%;
		
		bottom: 0;
	}
}

.demo{
	height: 100%;
	
	grid-area: demo;
	
	canvas{
		width: 100%;
		max-height: calc(100vh - 7.5em); //90vh;
		min-width: 25.5em;

		aspect-ratio: 1;
	}
}

.config_box{
	height: calc(100% - 2px);
	
	border: 1px solid grey;
	
	overflow-y: hidden;
	
	grid-area: conf;
	
	.nya{
		display: flex;
		
		width: calc(100% - 1em);
		height: 8em;
		
		justify-content: center;
		align-items: center;
		
		margin: 0.5em 0.5em 0;
		
		border-bottom: 2px solid grey;
		
		span{
			font-family: 'Lobster', cursive;
			font-size: 5em;
		}
		
		img{
			width: 70%;
			height: 8em;
			
			float: right;
		}
	}
	
	block{
		width: 100%;
		
		padding: 0;
		margin: 0;
	}
	
	.inputs{
		// width: calc(100% - 0.75em * 2);
		height: calc(100% - 8.5em - 2px - 0.75em * 2);
		
		margin: 0.75em;
		margin-right: 0.25em;
		padding-right: 0.5em;
		
		overflow-y: auto;
		
		&::-webkit-scrollbar{
			width: 1em;
		}
		
		&::-webkit-scrollbar-button{
			display: none;
		}
		
		&::-webkit-scrollbar-track, &::-webkit-scrollbar-thumb{
			box-shadow: inset 0 0 10px #0007;
			border-radius: 0.5em;
		}
		
		img{
			width: 100%;
		}
		
		div{
			display: flex;
			
			gap: 0.25em;
			
			font-size: 1.25em;
			
			padding: 0.25em;
			margin-bottom: 0.5em;
			
			border: 1px dashed grey;
			
			*{
				width: 100%;
			}
			
			div{
				box-sizing: border-box;
				margin-bottom: 0;
				font-size: 1em;
			}
			
			@paddings: 1, 0.5, 0.25, 0.125;
			
			.for(@i, @n: length(@paddings)){
				@val: extract(@paddings, @i);
				@ruleN: replace(~"@{val}", '\.', '');
				
				.pad@{ruleN}em{
					height: @val * 1em;
				}
			}
			
			@colors: IndianRed, LightCoral, Salmon, DarkSalmon, LightSalmon, Crimson, Red, FireBrick, DarkRed, Name, Pink, LightPink, HotPink, DeepPink, MediumVioletRed, PaleVioletRed, Name, LightSalmon, Coral, Tomato, OrangeRed, DarkOrange, Orange, Name, Gold, Yellow, LightYellow, LemonChiffon, LightGoldenrodYellow, PapayaWhip, Moccasin, PeachPuff, PaleGoldenrod, Khaki, DarkKhaki, Name, Lavender, Thistle, Plum, Violet, Orchid, Fuchsia, Magenta, MediumOrchid, MediumPurple, RebeccaPurple, BlueViolet, DarkViolet, DarkOrchid, DarkMagenta, Purple, Indigo, SlateBlue, DarkSlateBlue, MediumSlateBlue, Name, GreenYellow, Chartreuse, LawnGreen, Lime, LimeGreen, PaleGreen, LightGreen, MediumSpringGreen, SpringGreen, MediumSeaGreen, SeaGreen, ForestGreen, Green, DarkGreen, YellowGreen, OliveDrab, Olive, DarkOliveGreen, MediumAquamarine, DarkSeaGreen, LightSeaGreen, DarkCyan, Teal, Name, Aqua, Cyan, LightCyan, PaleTurquoise, Aquamarine, Turquoise, MediumTurquoise, DarkTurquoise, CadetBlue, SteelBlue, LightSteelBlue, PowderBlue, LightBlue, SkyBlue, LightSkyBlue, DeepSkyBlue, DodgerBlue, CornflowerBlue, MediumSlateBlue, RoyalBlue, Blue, MediumBlue, DarkBlue, Navy, MidnightBlue, Name, Cornsilk, BlanchedAlmond, Bisque, NavajoWhite, Wheat, BurlyWood, Tan, RosyBrown, SandyBrown, Goldenrod, DarkGoldenrod, Peru, Chocolate, SaddleBrown, Sienna, Brown, Maroon, Name, White, Snow, HoneyDew, MintCream, Azure, AliceBlue, GhostWhite, WhiteSmoke, SeaShell, Beige, OldLace, FloralWhite, Ivory, AntiqueWhite, Linen, LavenderBlush, MistyRose, Name, Gainsboro, LightGray, Silver, DarkGray, Gray, DimGray, LightSlateGray, SlateGray, DarkSlateGray, Black;
			
			.for(@i, @n: length(@colors)){
				@val: extract(@colors, @i);
				
				&.col-@{val}, .col-@{val}{
					color: @val;
				}
				
				&.col-@{val}:after, .col-@{val}:after{
					color: @val;
				}
			}
			
			.noWrapper{
				display: flex;
				
				border: none;
				
				padding: 0;
				margin: 0;
				font-size: inherit;
			}
			
			.vert, &.vert{
				flex-direction: column;
			}
			
			.horz, &.horz{
				flex-direction: row;
			}
			
			.string{
				height: 1.125em;
				
				font-size: 1.5em;
				line-height: 0.90em;
				
				text-align: center;
				
				margin: 0;
				padding: 0;
			}
			
			span{
				margin-left: calc(0.25em / 1.25);
			}
			
			span:empty{
				margin: 0;
			}
			
			input[type=color]{
				-webkit-appearance: none;
				height: 3.3em;
				
				background: #4d4d4d;
				border: none;
				padding: 0;
				
				&::-webkit-color-swatch-wrapper{
					padding: 0;
					
					-webkit-mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA3NSAzOCI+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj5AaW1wb3J0IHVybCgiLi4vZm9udHMvU2Fuc2l0YV9Td2FzaGVkLmNzcyIpOzwvc3R5bGU+PC9kZWZzPjx0ZXh0IHN0eWxlPSJmb250LXNpemU6IDMwcHg7IGZvbnQtZmFtaWx5OiAnU2Fuc2l0YSBTd2FzaGVkJywgY3Vyc2l2ZTsiPjx0c3BhbiB4PSIwIiB5PSIzMCI+Q29sb3I8L3RzcGFuPjwvdGV4dD48L3N2Zz4');
					-webkit-mask-repeat: no-repeat;
					-webkit-mask-position: center;
				}
				
				&::-webkit-color-swatch{
					border: none;
				}
				
				&:hover{
					background: #5c607d;
				}
				
				&:active{
					background: #434354;
				}
			}
			
			input[type=range]{
				width: calc(100% - 4px);
				overflow: hidden;
				
				&::-webkit-slider-thumb, &::-webkit-slider-runnable-track, &{
					-webkit-appearance: none;
				}
				
				&::-webkit-slider-runnable-track{
					height: 1.5em;
					
					background: #4a4a4a;
					box-shadow: inset 0px 0px 0.25em 0em black;
				}
				
				&::-webkit-slider-thumb{
					position: relative;
					width: 1.5em;
					height: 1.5em;
					
					background: #5c607d;
					
					border-radius: 15%;
					border: 2px solid grey;
					
					// box-shadow: -100em 0 0 99.5em #434354;
				}
				
				&::-webkit-slider-thumb:active{
					background: #434354;
				}
			}
			
			label{
				cursor: url('../img/cur_default_32.png'), default;
			}
			
			label.inline{
				display: flex;
				flex-direction: row-reverse;
				
				justify-content: center;
				align-items: center;
				
				cursor: url('../img/cur_pointer_32.png'), pointer;
			}
			
			input[type=checkbox], input[type=radio]{
				height: 3.3em;
				margin: 0;
			}
			
			button{
				height: 3.30em;
				
				padding: 0;
				border: none;
			}
			
			input[type=radio], button, input[type=checkbox], input[type=file]{
				&:after{
					display: flex;
					
					align-items: center;
					justify-content: center;
					
					width: 100%;
					height: 100%;
					
					background: #4d4d4d;
					
					font-size: 1.5em;
					font-family: 'Sansita Swashed', cursive;
					color: white;
					
					content: attr(value);
					
					transition: 0.15s ease all;
				}
				
				&:hover:after{
					background: #5c607d;
				}
				
				&:active:after{
					background: #434354;
				}
				
				&:checked:after{
					background: #434354;
				}
			}
			
			input[type=file]{
				height: 2.75rem;
				font-size: 0;
				
				&::-webkit-file-upload-button {
					display: none;
				}
				
				&:after{
					font-size: 1.25rem;
				}
			}
			
			input[type=text], input[type=number]{
				height: 1.5em;
				font-size: 1.5em;
				
				padding: 0.25em;
				border: none;
				
				background: #4d4d4d;
				box-shadow: inset 0px 0px 0.25em 0em black;
				
				cursor: url('../img/cur_text_32.png'), text;
				
				text-align: center;
				color: white;
				
				&:active, &:hover, &:focus{
					outline: 0;
					outline-offset: 0;
				}
				
				&::-webkit-outer-spin-button,
				&::-webkit-inner-spin-button{
					display: none;
				}
				
				&::-webkit-input-placeholder{
					text-align: center;
				}
			}
		}
	}
}

.copy-tyan{
	position: absolute;
	
	display: none;
	width: 10em;
	
	top: 0;
	left:0;
	
	img{
		width: 100%;
	}
	
	span{
		position: relative;
		top: 5em;
		font-size: 2em;
		color: lightgreen;
	}
}